{% extends 'myblog/main.html'%}
{% block body %}
<br>
<div class="row">
    <h5>Recent posts</h5>
    <hr>
    <div class="container px-7 py-9" id="blogs">
        <div class="row">
             {% for blg in blogs reversed %}
          <div class="col-md  d-flex justify-conent-center">
             <div class="container ">
                <div class="card" style="width: 18rem;">
                  <img src="{{blg.image.url}}" class="card-img-top" alt="...">
                   <div class="card-body">
                     <!--     <img src={{tech.img}} >-->
                     <a style="text-decoration:none; color:black; font-size:21px; font-weight:5px; "
               href="{% url 'viewpage' blg.id%}" class="card-title">{{blg.title}}</a>
                     <h9 >{{blg.created_date}}</h9>
                     <p class="card-text">{{blg.content|truncatewords:15}}</p>
                   </div>
                </div>
             </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock body %}