{% extends 'myblog/main.html' %}
{% block body %}
{%include 'myblog/carousel.html'%}
<br>

<div class="row">
  <div class="col-md-7 ">
    <h5 style="color:#00bfa5;font-weight: bold;">Recent posts</h5>
    <hr>
        <div class="row">
             {% for blg in blogs reversed %}
          <div class="col-md  d-flex justify-conent-center">
             <div class="container ">
              <br>
                <div class="card bg-#f50057 mb-3" style="width: 18rem;">
                     <img src="{{blg.image.url}}" class="card-img-top" alt="thumbnail">
                   <div class="card-body">
                     <a style="text-decoration:none; color:black; font-size:21px; font-weight:5px; "
               href="{% url 'viewpage' blg.id%}" class="card-title">{{blg.title}}</a>
                     <h9 >{{blg.created_date}}</h9>
                     <p class="card-text">{{blg.content|truncatewords:15}}</p>
                   </div>
                </div>
             </div>
            </div>
        {% endfor %}
    </div>
</div>


  <div class="col-md-5">
    <div class="card border-dark  text-center ">
      <br>
      <h5 style="color:#00bfa5; font-weight:bold; margin-top:35px">Popular post</h5>
      
      {% for blg in blogs reversed%}
        <div class="card mb-3" style="max-width: 490px;margin-left: 50px;margin-top: 20px;">
           <div class="row row-cols-1 row-cols-md-2 g-4">
             <div class="col-md-4">
                  <img src="{{blg.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
        <div class="col-md-8">
          <div class="card-body">
            <a style="text-decoration:none; color:black; font-size:21px; font-weight:5px;"
               href="{% url 'viewpage' blg.id%}" class="card-title">{{blg.title}}</a>
            <p class="card-text">{{blg.content|truncatewords:15}}</p>
            <p class="card-text"><small class="text-muted">{{blg.created_date}}</small></p>
          </div>
        </div>
      </div>
  </div>
  {% endfor %}
  </div>
    </div>
</div>

   
<div style="background-color: #f0f4c3;" class="footer text-center">
  <hr>
  <div style="color:#3e2723">
    <h1>Want to Share your Experience??</h1>
  <h3>Contact me here!!</h3>
  <h5>Email Address: Wneha30@gmail.com</h5>
  <h5>nehawaghmare2081@gmail.com</h5>
  <br>
  <span>
          <a href="https://www.instagram.com/"><img id="social_media" src="/static/images/instagram.png" alt="instagram"></a>
          <a href="https://www.facebook.com/login.php"><img id="social_media" src="/static/images/facebook.png" alt="facebook"></a>
          <a href="https://twitter.com/i/flow/login"><img id="social_media" src="/static/images/twitter.png" alt="twitter"></a>
          <a href="gmail sign in"><img id="social_media" src="/static/images/gmail.png" alt="gmail"></a>
        </span>
  <br>
  <br>
  </div>
</div>
{% endblock body%}